.env*
.idea/
.vscode/
.openzeppelin/
artifacts/
broadcast/
cache/
node_modules/
types/
coverage/
out/
cache_hardhat/
environment/variables/public/env_prod.sh
environment/variables/public/env_stage.sh
environment/variables/private/env_stage.sh
environment/variables/private/env_prod.sh
.DS_Store
cache_hardhat
lcov.info
yarn.lock

unused*